<div class="contenedor">
    <nav class="navegacion">
        @if (!authService.currentUser()) {
            <button class="btn-bt btn-primary-bt" routerLink="login">Login</button>
            <button class="btn-bt btn-primary-bt" routerLink="registro">Registro</button>
        } @else {
            <button class="btn-bt btn-primary-bt" routerLink="perfil">Mi Perfil</button>
            <button class="btn-bt btn-primary-bt" routerLink="publicaciones">Publicaciones</button>

            @if (authService.currentUser()?.perfil === 'administrador') {
                <button class="btn-bt btn-dark-bt" routerLink="admin/usuarios">Usuarios</button>
                <button class="btn-bt btn-dark-bt" routerLink="admin/estadisticas">Estadísticas</button>
            }
            
            <button class="btn-bt btn-danger-bt ms-auto" (click)="authService.logout()">Cerrar Sesión</button>
        }
    </nav>
</div>
<router-outlet />